{% if lastfm.current_track is defined and lastfm.current_track is not empty %}
  {% set current_track = lastfm.current_track %}
  <article>
    <h1 class="title">currently listening</h1>
    <ul class="no-bullets no-indent list--nowplaying">
      <li><a href="{{ current_track.song_url }}" target="_blank">{{ current_track.song }}</a> by {{ current_track.artist }}</li>
    </ul>
  </article>
{% endif %}

{% if lastfm.lastplayed is defined and lastfm.lastplayed is not empty %}
  <article>
    <h1 class="title">last played</h1>
    <ul class="no-bullets no-indent list--nowplaying">
      {% for track in lastfm.lastplayed %}
        {% if track.song != lastfm.current_track.song %}
          <li>
            <div class="d-flex flex-column">
              <div class="lastplayed--title">
                <a href="{{ track.song_url }}" target="_blank">{{ track.song }}</a> by {{ track.artist }}
              </div>
              <div class="lastplayed--meta">
                at <small>{{ track.date }}</small>
              </div>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    {% if lastfm.account is not empty %}
      <p><a href="{{ lastfm.account.url }}" target="_blank" rel="me"><i class="fa-brands fa-lastfm"></i> {{ lastfm.account.name }}</a></p>
    {% endif %}
  </article>
{% endif %}